.chat-side {
  overflow: scroll;
  background-color:$blue_light;
  width: 300px;
  height: 100vh;
  color: $white;
  float: left;  
  .side-header{
    background-color: $blue_dark;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 20px;
    &__box{
      width: 240px;
      height: 20px;
      margin: 0 auto;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      list-style: none;
      &__menu{
        display: flex;
      }
    }
  }
  .fas{
    color:$white;
  }
  .groups{
    height: calc(100vh - 100px);
    padding: 20px 20px 0;
    overflow: scroll;
    .group{
      &__group-name{
        font-size: 15px;  
        margin-bottom: 5px;
      }
      &__group-message{
      font-size: 11px;
      margin-bottom: 40px;
      }
    }
  } 
}